<!--Выводим заставку-->
<br>
<br>
<br>
<div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4"><u>{{welcome1}}</u></h1>
            <p class="lead"><em></em></p>
            <p><em>{{additional1}}</em></p>
            <a class="btn btn-primary btn-lg" href="{{link1}}" target="_blank" role="button" >{{link_name1}}</a>
        </div>
    </div>

    <!--Выводим заставку 2-->

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><u>{{welcome2}}</u></h1>
            <p class="lead"><em>{{description2}}</em></p>
            <hr class="my-8">
            <p>{{additional2}}</p>
        </div>
    </div>
</div>
