<nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation" style="background-color: #e9ecef">
    <a class="navbar-brand" style="background-color: #e9ecef" href="#"><b>{{logo_title}}</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="background-color: #e9ecef">
        <ul class="navbar-nav">
            {{links}}
        </ul>
    </div>
</nav>
