<div>
    <div class="jumbotron">
        <h1 class="display-4">{{greetings}}</h1>
        <p class="lead">{{description}}</p>
        <hr class="my-4">
        <p>{{additional}}</p>
        <a class="btn btn-primary btn-lg" href="{{link}}" role="button" target="_blank">{{link_name}}</a>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">{{articles_title}}</h1>
            <p class="lead">{{articles_description}}</p>
        </div>
        <div class="row">
            {{articles}}
        </div>
    </div>
</div>
