.purple {
    color: purple;
}

.red {
    color: red !important;
}

.background-image {
    background: url("../images_my/Earth-terminator.jpg") center center;
    background-size: 100%;
}

#article-1 {
    color: white;
}

.white {
    color: inherit;
}

.carousel .item {

    text-align: center !important;

}