/*reset styles*/
h1, h2, h3, h4, h5, h6, p, span, label {
    color: #ffffff;
}

a {
    color: #82b5d4;
}

a:hover {
    color: #ffffff;
}

.background-img {
    background: url("../img/background.gif") repeat #000000;
}

/*header*/
div.pos-f-t {
    margin-top: 20px;
}

.header-description {
    color: #b9bbbe;
}

.header-text {
    font-weight: bold;
    color: #b9bbbe;
}

/*main navigation*/
#navbarToggleExternalContent .col-3 {
    max-width: 20%;
}

a.nav-link {
    font-weight: bold;
    color: #82b5d4;
}

a.nav-link:hover {
    font-weight: bold;
    color: #ffffff;
    transition: all ease 4s;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #82b5d4;
    font-weight: bold;
    color: #000000;
}

/*content*/
.main-content {
    padding: 20px;
    padding-bottom: 0;
}

div.jumbotron {
    padding-bottom: 0;
}

.article-head {
    color: #b9bbbe;
}

.main-content .jumbotron, .robo-form {
    background-color: transparent;
    margin-left: 0;
    width: 60%;
}

.btn-primary {
    background-color: #82b5d4;
    font-weight: bold;
    color: #000000;
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #1d2124;
    color: #ffffff;
    border-color: #b9bbbe;
}

/*cards*/
#cards {
    margin-left: 20px;
    padding-bottom: 20px;
}

#cards .card {
    background-color: rgba(27,26,27,.925);
}

.card {
    border: 1px solid rgba(184,185,189,.125);
}

/*form*/

#robo-form {
    margin-top: 40px;
    margin-left: 20px;
}

.uploads {
    margin-top: 1.5em;
}

.btn-primary {
    margin-top: 1.5em;
}

/*footer*/
.jumbotron {
    background-color: transparent;
}

div#footer {
    width: 100%;
    background: linear-gradient(to top, #000000, transparent);
    margin-bottom: 0;
}

.footer-jumbotron div.container {
    max-width: 100%;
}

.footer-jumbotron .list-group-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed #b9bbbe;
    color: #ffffff;
}

.footer-jumbotron .list-group-item a {
    color: #82b5d4;
    text-decoration: none;
}

.footer-jumbotron .list-group-item a:hover {
    color: #ffffff;
}

footer h4 {
    color: #b9bbbe;
}