*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.purple {
    color: purple;
}

.red {
    color: red !important;
}
<<<<<<< HEAD:assets/styles.css
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    background: url("../assets/images/my-page-bg.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    min-height: 100vh
}
=======
>>>>>>> 40ca40599f9695bb6ce9df1db019adbc54df9fee:10_11_lesson_HTML/assets/styles.css

#article-1 {
    color: white;
}

.white {
    color: inherit;
}
.form-wrap{
    background-color: rgba(0,0,0,.2);
    margin: 0 auto;
    border-radius: 10px;
    width: 50%;
    padding: 50px;
}
.form-wrap form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.form-group {
    height: 25px;
    margin-bottom: 10px;
}
input {
    border-radius: 5px;
    width: 100%;
    padding: 0 10px;
    height: 100%;

    background-color: rgba(255,255,255,0.8);
}
.btn-submit {
    background-color: #e03232;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 30px;
    margin-bottom: 15px;
}

.greeting-user{
    color: blue;
}
.info-wrap {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}