<br>
<div class="jumbotron">
    <a name="login"></a>
    <p class="lead"><em>Welcome back {{user}} press <u>'Secret area'</u> to enter the secret area</em></p>
    <div class="row justify-left-left">
        <form class="col-sm-6" id="main-form" name="form-activ" method="post" enctype="multipart/form-data" action="./action.php">
            <input type="hidden" name="active_session" value="active_session">
            <button type="submit" class="btn btn-primary">Secret area</button>
        </form>
    </div>
</div>